:root {
    --prime-color: rgb(76, 131, 32);
    --sec-color: rgb(0, 77, 128);
    --accent-color: white;
    --accent2-color: rgb(196, 11, 97);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body start*/
body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/* body ends */

/* header/nav ends */
header {
  background-image: url("../assets/images/Street\ Art\ _\ R10.png");
}

.nav nav {
	width: 50%;
	margin: auto;
}

.nav nav ul {
	list-style: none;
	font-weight: bold;
	display: flex;
	justify-content: space-evenly;
  background-color: var(--accent-color);
  font-style: oblique;
  border-radius: 25px;
}
.nav nav ul li a {
  color: var(--accent2-color);
}

.nav nav ul li a:hover {
    color: var(--prime-color);
}    
/* header/nav ends */

/* my name and avatar starts */
.goddess {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  padding-right: 70px;
}
.name h1 {
	font-size: 390%;
	color: var(--accent-color);
	font-weight: bolder;
	text-shadow: 6px 4px var(--accent2-color);
	display: flex;
	flex-wrap: wrap;
}

.avatar img {
  border-radius: 50%;
  width: 100%;
  height: 300px;
  border: 5px solid var(--accent-color);
  display: flex;
  flex-wrap: wrap;
}
/* my name and avatar ends */

/* about me starts */
.me-parent {
  display: flex;
  flex-wrap: wrap;
	margin: 13px;
  align-items: center;
    
}
.me-title {
  width: 15%;
  height: 160px;
  text-align: center;
  border-right: 5px solid var(--accent2-color);
  color: var(--accent2-color);
  font-size: 28px;
  background-color: peachpuff;
}
.me-text {
  width: 80%;
  padding-left: 10px;
  text-align: center;
  font-style: oblique;
}
/* about me ends  */

/* work starts  */
.work-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 13px;
}
 .work-title {
  	width: 15%;
  	height: 790px;
  	text-align: center;
  	border-right: 5px solid var(--accent2-color);
  	color: var(--accent2-color);
  	font-size: 28px;
  	background-color: peachpuff;
 }

 .projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    width: 85%;
 }

 #hori {
	position: relative;
	width: 85%;
 }

 #hori img {
	height: fit-content;
 }

 .items {
	position: relative;	

}
	
.projects img {
	width: 100%;
	height: 210px;
	border: 5px solid var(--prime-color);
	position: relative;
  border-radius: 25px;

}

.mini-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:var(--accent2-color);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 70%;
  border-radius: 15px 50px;
  font-size: 30%;
}
/* work ends  */

/* contact me starts */
.contact-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 13px;
  align-items: center;
}

.contact-title {
  width: 15%;
  height: 100px;
  text-align: center;
  border-right: 5px solid var(--accent2-color);
  color: var(--accent2-color);
  font-size: 28px;
  background-color: peachpuff;
}

.contact-text {
  display: flex;
	flex-wrap: wrap;
	width: 85%;
	justify-content: space-evenly;
	padding: 10px;
	font-weight: bold;
	font-size: 19px;
}
.contact-text:hover {
  color: var(--prime-color);
}

 /* Media Quarries Tablets and Bigger */
@media screen and (max-width: 1366px) {
	body {
		background-color: peachpuff;
	}
	
	.goddess {
		flex-direction: column;
		padding-left: 47px;
	}
	.parent{
		flex-direction: column;
	
	}
	.title {
		width: 100%;
		height: auto;
		border-right: none;
		border-bottom: 5px solid var(--accent2-color);
	}	

	.me-text {
		width: 100%;
		text-align: justify;
	}
	.projects {
		width: 100%;
	}
	
	#hori {
		width: 100%;
	}
	
	.items {
		width: 33%;
	}
}
/* Media Quarries width that was missed */
@media screen and (max-width: 720px) {
	.goddess {
		flex-direction: column;
	}

	.items {
		width: 33%;
	}
}
	
/* Media Quarries Mobile and Smaller */
@media screen and (max-width: 760px) {
body {
	background-color: peachpuff;
}
.nav nav {
	width: 100%;
}

.goddess {
	padding: revert;
}
.parent{
	flex-direction: column;

}

.title {
	width: 100%;
	height: auto;
	border-right: none;
	border-bottom: 5px solid var(--accent2-color);
}

.me-text {
	width: 100%;
	text-align: justify;
}

.projects {
	width: 100%;
}

#hori {
	width: 100%;
}

.contact-text {
	font-size: 100%;
	flex-direction: column;
	align-items: center;
}
}