:root {
    --prime-color:rgb(212, 151, 253);
    --sec-color: rgb(121, 226, 100);
    --accent-color: rgb(235, 206, 112);
    --accent2-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body*/
body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/* header/nav ends */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: var(--prime-color);
	align-items: center; 
}

header h1 {
  padding-left: 50px;
}

header nav ul {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 0px;
}

header nav ul li {
  font-size: 1.8vw;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  
}

header a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--prime-color);
  color: var(--lightskyblue);
 }
/* header/nav ends */

/*section-titles & border style starts*/
.banner {
	height: 100px;
	background-image: url("../assets/images/\(346\)\ Pinterest.png");
	background-size: cover;
	background-attachment: fixed;
	
}


/* about me starts */
.me-parent {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: stretch;
	margin-top: 50px;
	flex-wrap: wrap;
}

.me-title {
	width: 20%;
	border-bottom: 5px solid var(--accent-color);
	text-align: center;
	font-size: 24px;
}

.me-text {
	padding: 10px;
	text-align: center;
}
/* about me ends */

/* work starts */
.work-parent {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.work-title {
	width: 20%;
	height: 100px;
	border-bottom: 5px solid var(--accent-color);
	text-align: center;
	padding: 50px 0;
	font-size: 24px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	justify-content: space-evenly;
	

}
#hori {
	position: relative;

}
#hori img {
	height: fit-content;
}

.items {
	position: relative;	

}

.projects img {
	width: 100%;
	height: 210px;
	border: 5px solid var(--accent-color);
	position: relative;
}

.mini-text {
		position: absolute;
		bottom: 20px;
		right: 20px;
		background-color:var(--prime-color);
		color: white;
		padding-left: 20px;
		padding-right: 20px;
		opacity: 70%;
}
/* work ends*/

/* contact me starts */
.contact-parent {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: stretch;
	margin-top: 50px;
	flex-wrap: wrap;
}

.contact-title {
	width: 22%;
	border-bottom: 5px solid var(--accent-color);
	text-align: center;
	font-size: 24px;
}
.contact-text {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	padding: 10px;
	font-weight: bold;
	font-size: 19px;
}
/* contact me ends */